@import 'variables';
@import "modal";
@import "button";
@import "form";

body {
  background: $main-background;
  font-family: $font-type;
  color: $main-font-color;
}

a, a:hover {
  text-decoration: none;
}