// fonts
$font-type:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
            "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
            sans-serif;

// colors
$main-background: #000000;
$main-font-color: #fff;
$hover-color: #ff000d;
$active-color: #ff000d;
$error-color: #ff000d;
$menu-icon-color: #fff;
$modal-background: #1e1b20;
$btn-color: #ec5990;
$btn-hover-color: #ff000d;
$alert-text-color: black;