@import './src/styles/variables';

.header {
  display: inline-block;
  width: 100%;
  z-index: 3;
  background-color: black;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu__btn:hover {
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  transition: 0.4s ease-out;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $active-color;
  }

  a {
    color: #fff;
  }
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;

  li {
    cursor: pointer;
  }

  li:hover {
    transition: 0.4s ease-out;
    background-color: $hover-color;
  }

  li:active {
    background-color: $active-color;
  }
}

/* menu icon */

.header .menu__icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu__icon .navicon {
  background: $menu-icon-color;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu__icon .navicon:before,
.header .menu__icon .navicon:after {
  background: $menu-icon-color;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu__icon .navicon:before {
  top: 5px;
}

.header .menu__icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu__btn {
  display: none;
}

.header .menu__btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu__btn:checked ~ .menu__icon .navicon {
  background: transparent;
}

.header .menu__btn:checked ~ .menu__icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu__btn:checked ~ .menu__icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu__btn:checked ~ .menu__icon:not(.steps) .navicon:before,
.header .menu__btn:checked ~ .menu__icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu__icon {
    display: none;
  }
}
