@import "./src/styles/variables";

.categories {
  display: flex;
  flex-direction: column;
  margin-top: 3em;

  .categories__item {
    width: 100%;
    color: var(--color);
    transition: 0.3s ease-in-out;

    &.active {
      color: #fff;
      background-color: var(--color);
    }
  }

  .categories__item:hover {
    color: #fff;
    background-color: var(--color);
  }
}
