@import "./src/styles/variables";

.categories {
  display: flex;
  flex-direction: column;

  .categories__item {
    width: 100%;
    color: var(--color);
    transition: 0.3s ease-in-out;
  }

  .categories__item:hover {
    color: #fff;
    background-color: var(--color);
  }
}